* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  margin: 0;
  padding: 0;
}

header, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #6a89cc;
  color: white;
  padding: 0.5rem;
}

h1, h2, h3 {
  font-family: Coiny, sans-serif;
}

h1 {
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
}

p, figcaption {
  color: black;
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1e3799;
  background-image: url("../images/website/houndstooth-pattern.png");
}

.paw {
  width: 3rem;
  color: #6a89cc;
}

footer {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

iframe {
  width: 100%;
  height: "450";
  allowfullscreen: "";
  aria-hidden: "false";
  tabindex: "0";
  border: solid 2px #1e3799;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#center-card {
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  padding: 20px;
  min-width: 700px;
}

#center-card article, #center-card h2 {
  padding: 10px;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .container {
  width: 40%;
  margin: 10px;
}

#home .notice {
  width: 60%;
  margin: 10px;
}

#species {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#species figure {
  text-align: center;
}

#species figure img {
  width: 100px;
  border: 2px solid;
  border-radius: 50%;
}

#species figure:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: white;
}

#animals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#animals figure {
  text-align: center;
}

#animals figure img {
  margin: 5px;
  width: 200px;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#address-contact {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

#geo-location {
  width: 50%;
}

.border-alert {
  border-color: red;
}

.hidden {
  display: none;
}

.button-bold {
  font-weight: bold;
  color: #1e3799;
  text-transform: uppercase;
}

#reasontxt {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */