$main_color: #1e3799
$secondary_color: #6a89cc

// reset
*
  box-sizing: border-box
  transition-duration: 0.4s
  margin: 0
  padding: 0

header, footer
  display: flex
  background-color: $secondary_color
  color: white
  padding: 0.5rem

h1, h2, h3 
  font-family: Coiny, sans-serif

h1
  margin: 20px auto
  // text-align: center

a
  text-decoration: none
  color: white
  margin: 0.5rem

p, figcaption
  color: black

header
  // display: flex
  justify-content: space-between
  color: white
  nav
    ul
      display: flex
      justify-content: space-evenly
      list-style: none

main
  display: flex
  flex-direction: column
  color: $main_color
  background-image: url('../images/website/houndstooth-pattern.png')
  
.paw
  width: 3rem
  color: $secondary_color

footer
  align-items: right

iframe
  // border: 0
  width: 100%
  // width: "600"
  height: "450"
  // frameborder: "0"
  allowfullscreen: ""
  aria-hidden: "false"
  tabindex: "0"
  border: solid 2px $main_color

form
  display: flex
  justify-content: end
  flex-wrap: wrap
  width: 100%


#center-card
  margin: auto
  margin-bottom: 20px
  width: 70%
  background-color: white
  border: 1px solid grey
  border-radius: 3px
  box-shadow: 10px 10px 5px grey
  padding: 20px
  min-width: 700px
  article, h2
    padding: 10px

#home
  display: flex
  .container
    width: 40%
    margin: 10px
  .notice
    width: 60%
    margin: 10px

#species
  display: flex
  justify-content: space-around
  figure
    text-align: center
    img
      width: 100px
      border: 2px solid
      border-radius: 50%
    &:hover
      transform: scale(1.3)
      color: white

#animals
  display: flex
  flex-wrap: wrap
  figure
    text-align: center
    img
      margin: 5px
      width: 200px  

#contact
  display: flex
  justify-content: space-between

#address-contact
  width: 50%
  display: flex
  flex-direction: column
  align-items: left

#geo-location
  width: 50%

.border-alert
  border-color: red

.hidden
  display: none

.button-bold
  font-weight: bold
  color: $main_color
  text-transform: uppercase

#reasontxt
  width: 100%

